.email-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.form-container {
  max-width: 1240px;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 20px;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

quill-editor {
  margin-bottom: 20px;
  width: 100%;
  height: 200px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.mat-accent.mat-mdc-radio-button {
  --mdc-radio-selected-focus-icon-color: #4caf50;
  --mdc-radio-selected-hover-icon-color: #4caf50;
  --mdc-radio-selected-icon-color: #4caf50;
  --mdc-radio-selected-pressed-icon-color: #4caf50;
  --mat-radio-checked-ripple-color: #4caf50;
}

::ng-deep .email-send {
  margin-top: 40px;
  background-color: #4caf50 !important;
  color: white !important;
}

::ng-deep .email-send:hover {
  background-color: #388e3c !important; /* Darken color on hover */
}

::ng-deep .email-send:active {
  background-color: #2e7d32 !important; /* Darker color on active */
}

::ng-deep .email-send:disabled {
  background-color: #979292 !important; /* Darker color on active */
}

::ng-deep .ql-toolbar {
  background-color: #e3e3e3;
  border: 1px solid #e3e3e3 !important;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 8px;
}

::ng-deep .ql-toolbar button {
  background-color: #fff;
  border: none;
  color: #424242;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  margin-right: 5px;
  transition: background-color 0.2s;
}

::ng-deep .ql-toolbar button:hover {
  background-color: #f0f0f0;
}

::ng-deep .ql-toolbar button.ql-active {
  background-color: white;
}

::ng-deep .ql-toolbar .ql-picker {
  color: #424242;
  border: none;
}

::ng-deep .ql-container {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  border: 2px solid #e3e3e3 !important;
}


