<div class="email-container">
  <div class="form-container">
    <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
      <div>
        <label>Ontvangers</label>
        <mat-radio-group formControlName="recipients">
          <mat-radio-button  class="custom-radio" value="all-eligible">Alle in aanmerking komende leden</mat-radio-button>
          <mat-radio-button  class="custom-radio" value="all-registrations">Alle registraties</mat-radio-button>
          <mat-radio-button  class="custom-radio" value="pre-selection">De voorselectie</mat-radio-button>
          <mat-radio-button  class="custom-radio" value="unselected">Alle niet-geselecteerden</mat-radio-button>
          <mat-radio-button  class="custom-radio" value="casting">Alle mensen in casting</mat-radio-button>
          <mat-radio-button  class="custom-radio" value="customer-selection">Klantselectie</mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Onderwerp</mat-label>
        <input matInput formControlName="subject" placeholder="Onderwerp invoeren" />
      </mat-form-field>
      <div>
        <label>Inhoud</label>
        <quill-editor formControlName="richContent" [modules]="richContent" [placeholder]="'Voer hier uw tekst in...'" theme="snow"></quill-editor>
      </div>
      <button class="email-send" mat-raised-button color="primary" type="submit" [disabled]="!emailForm.valid">Verzenden</button>
    </form>
  </div>
</div>

